.App {
  text-align: center;
  background-color: aquamarine;
  width: 40%;
  margin: auto;
  height: 200px;
  margin-top: 30px;
  font-size: large;
}
button {
 background-color: teal;
  font-size: calc(10px + 2vmin);
}
